html {  
    scroll-behavior: smooth;  
}

:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --background-color:   #2E3440;
  --color:              #D8DEE9;
  --h1-color:           #ECEFF4;
  --h2-color:           #E5E9F0;
  --h3-color:           var(--color);
  --h4-color:           var(--color);
  --h5-color:           var(--color);
  --h6-color:           var(--color);
  --muted-color:        var(--color);
  --muted-border-color: #3B4252;
  --primary:            #5E81AC;
  --primary-hover:      #81A1C1;
  --primary-focus:      #88C0D0;
  --secondary:          var(--primary-focus);
  --secondary-hover:    #8FBCBB;
  --secondary-focus:    var(--color);
  --contrast:           #434C5E;
  --contrast-hover:     #4C566A;
  --contrast-focus:     var(--muted-border-color);
  --card-background-color: var(--muted-border-color);
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

.hero {
    background-position: center;
    background-size: cover;
}

.início {
    background-image: url(img/nord_mountains.png);
}

.projetos {
    background-image: url(img/earth-in-space.png);
}

.sobre {
    background-image: url(img/nord_lake.png);
}

.blog {
    background-image: url(img/kittyboard.png);
}

small {
    color: var(--muted-color);
  }

  @media (min-width: 992px) {
    main .grid {
      grid-column-gap: var(--spacing-company);
      grid-template-columns: auto 25%;
    }
  }
  
  form.grid {
    grid-row-gap: 0;
  }
  

aside img {
    width: 400px;
    margin-bottom: 0.25rem;
}

aside p {
    margin-bottom: var(--spacing-company);
    line-height: 1.25;
  }
