html {  
    scroll-behavior: smooth;  
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
    animation: fade 1s;
}

@keyframes fade {
  from {
    filter: blur(3px);
    opacity: 0.2;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
  
}

h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

.hero {
    background-position: center;
    background-size: cover;
}


/* Essa imagem foi retirada da coleção de imagens padrão do Google Sites, o link tá aqui se você tiver interesse:
   https://lh3.googleusercontent.com/ZTKGRc7wopT8DELrEVIbMRx3L43B5qizSpUSRFn3RpR8S2wGOQOib4bJ1gE0UXkiMpiryRrgCD5oMVy-izsuodE=w16383 */
.início {
    background-image: url(img/início.jpeg);
}


/* Bem, eu basicamente só fiz essas duas classes para que as páginas tivessem imagens diferentes, e como o site está hostiado no github
   eu não quero colocar um monte de imagens no repositório, no lugar disso eu decidi colocar links diretos para as imagens que eu quero.
   
   Isso acaba servindo também como uma forma de creditar os autores das imagens originais, de certa forma pelo menos...*/
.projetos {
    background-image: url(https://images.unsplash.com/photo-1514162005038-8332a12a5c9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
}

.sobre {
    background-image: url(https://images.unsplash.com/photo-1529346378633-c2b2a059c367?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

small {
    color: var(--muted-color);
  }

  @media (min-width: 992px) {
    main .grid {
      grid-column-gap: var(--spacing-company);
      grid-template-columns: auto 25%;
    }
  }
  
  form.grid {
    grid-row-gap: 0;
  }
  

aside img {
    width: 400px;
    margin-bottom: 0.25rem;
}

aside p {
    margin-bottom: var(--spacing-company);
    line-height: 1.25;
  }