@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
	font-family: 		'JetBrains Mono', monospace;
	margin:				0;
	padding:			0;
	color:				#D8DEE9;
	text-decoration:	none;
	list-style-type:	none;
}

::-webkit-scrollbar {
    display: 			none;
}

body {
	background-color: #2E3440;
}

.description {
	/*padding-top: 1em;*/
	padding-bottom: 12em;
}

.ruler {
	border-style:		dashed;border-width:1px;color:#4C566A;
}
.navbar {
	width:				100%;
	position:			fixed;
	text-decoration:	none;
	background-color:	#3B4252;
	margin:				0;
	padding:			0;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 15px;
}

.navbar ul {
	overflow:			hidden;
}

.navbar li {
	float:				left;
}

.navbar .right {
	float:				right;
	display:			block;
	text-align:			center;
}

.navbar a {
	display:			block;
	text-align:			center;
	padding:			6px 8px;
}

.navbar a:hover:not(.active) {
	background-color:	#434C5E;
}

.active {
	background-color:	#2E3440;
}

.welcome {
	padding-top:		3em;
}

.welcome center {
	padding-top:		10%;
	padding-bottom:		10%;
	padding-left:		20%;
	padding-right:		20%;
}

.lista {
	padding-top:		4em;
}

.imagens {
	position:			static;
	padding-top:		1em;
	padding-left:		10%; 
	padding-right:		2em;
	float:				left;
	width:				500px;
}

.negrito{
	color:				#5E81AC;
}
