@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
	font-family: 		'JetBrains Mono', monospace;
	margin:				0;
	padding:			0;
	background-color: 	#2E3440;
	color:				#D8DEE9;
	text-decoration:	none;
	list-style-type:	none;
}

::-webkit-scrollbar {
    display: 			none;
}

.navbar {
	width:				100%;
	position:			fixed;
	text-decoration:	none;
	font-size: 			1em;
	background-color:	#3B4252;
	margin:				0;
	padding:			0;
	box-shadow: 		rgba(0, 0, 0, 0.18) 0px 5px 15px;
	overflow:			hidden;
}

.left {
	float:				left;
}

.right {
	float:				right;
}

.btn {
	display:			block;
	text-align:			center;
	padding:			6px 8px;
	background-color:	#3B4252;
}

.btn:hover:not(.active) {
	background-color:	#434C5E;
}

.btn:hover:active {
	background-color: 	#5E81AC;
}

.active {
	background-color:	#2E3440;
}

.home {
	padding-top: 		8em;
	padding-right: 		20%;
	padding-left: 		20%;
	display: 			flex;
	flex-direction: 	column;
	justify-content: 	center;
	align-items: 		center;
	text-align: 		justify;
}

.bemvindo {
	font-size: 			1.8em;
	padding-bottom: 	0.4em;
}

.sobre {
	font-size: 			1.4em;
	padding-bottom: 	0.4em;
}

.negrito{
	color:				#5E81AC;
}

.lista {
	padding-top:		2em;
	padding-left:		10%; 
	padding-right:		10%;
	text-align: 		center;
	font-size: 			1.8em;
}

.description {
	display: 			flex;
	flex-direction: 	row;
	justify-content: 	space-between;
	align-items: 		center;
	padding-top: 		1em;
	padding-bottom: 	1em;
	font-size: 			1rem;
	text-align: 		justify;
}

.imagens {
	width:				450px;
	box-shadow: 		rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ruler {
	border-style:		dashed;border-width:1px;color:#4C566A;
}

@media (orientation: portrait) {

	.navbar {
		font-size: 			2em;
	}
	
	.home {
		padding-left: 		4%;
		padding-right: 		4%;
		text-align: 		center;
	}

	.bemvindo {
		font-size: 			2em;
		padding-bottom: 	1em;
	}

	.sobre {
		font-size: 			1.6em;
		padding-bottom: 	1em;
	}

	.btn {
		padding:			10px 12px;
	}
	.lista {
		padding-top: 		3em;
		padding-left: 		0%;
		padding-right: 		0%;
		font-size: 			2em;
	}
	.description {
		flex-direction: 	column;
		font-size: 			1.5rem;
	}
	.imagens {
		width: 				600px;
	}
}